<a href="https://colab.research.google.com/github/TasneimAhmed/dnazip/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Compute equation
n=int(input("Enter a number n:"))
x=int(n*n)
y=int(n*n*n)
q=(n+x+y)
print(q)

Enter a number n:2
14

In [32]:
#Reversed name
x=input(" Enter first name : ")
y=input(" Enter last name : ")
print( y , x , sep="   ")

 Enter first name : Tasneem
 Enter last name : Ahmed
Ahmed   Tasneem

In [33]:
#same thing but with 2 print statements
x=input(" Enter first name : ")
y=input(" Enter last name : ")
print( y  , sep= ' ' , end='\n' )
print( x )

 Enter first name : Tasneem
 Enter last name : Ahmed
Ahmed
Tasneem

In [35]:
#Remainder
x,y=(input("Enter the two numbers")).split(",")
print(int(x) % int(y))

Enter the two numbers10 , 3
1

In [23]:
#same thing without using (%)
x,y=(input("Enter the two numbers")).split(",")
print((int(x)-1) / int(y))
print(int(x) - (int(x)-1))

Enter the two numbers10 , 3
3.0
1

In [22]:
#Switch variables
x,y=input(" enter 2 number : ").split(',')
z=int(x) , int(y)
print(z)
x,y=y,x

print(x)
print(y)

 enter 2 number : 5 , 6
(5, 6)
 6
5

In [24]:
#Convert to seconds
H,M,S=input(" Enter a time (hours,minutes,seconds) ; ").split(',')
x=int(H)*60*60
y=int(M)*60
z=int(S)
print("H:{}".format(x),"M:{}".format(y) ,"s:{}".format(z))

 Enter a time (hours,minutes,seconds) ; 1,3,3
H:3600 M:180 s:3